</html>
<head>
<title>K&S Computer - Main Memory</title>
<style type="text/css">
  body {background-color:lightgrey}
</style>

<script src="../baseconv.js"></script>

<script>

// Array to hold the base 2 values of all of the
// memory cells.  This makes it much easier to do
// the desired conversions...You just have to keep it
// updated!
memoryBaseTwoValues = new Array(32);

// ***********************************************************
// Functions for saving and restoring the state of memory
// during reloads of the memory frame.
//

function saveValues()
// Write all of the memory values, their datatypes and the currently
// selected memory address to the top level frame when this frame
// is unloaded.  This allows these values to be preserved when this
// frame is redrawn to get the memory addresses to change from base10 to
// base2 and vice-versa.
{
  var i, theType;

  top.memorySaved = true;

  top.memoryValues = new Array(32);
  top.memoryTypes = new Array(32);
  top.memoryRWAddress = getRWAddress();

  for(i=0; i<=31; i++)
  {
    top.memoryValues[i] = memoryBaseTwoValues[i];
    theType = getDataType("MM" + i);
    top.memoryTypes[i] = getDataType("MM" + i)
  }
}

function getValues()
// Restore all of the values that were saved when the frame was
// unloaded.  If the top frame was also reloaded then everything
// is restored to 0's.
{
  var i;

  if (!top.DATAPATH_LOADED)
    setTimeout('getValues()',100);
  else
  {
    for(i=0; i<=31; i++)
    {
      if(top.memorySaved)
      {
        setValue(top.memoryValues[i],"MM" + i);
        setDataType(top.memoryTypes[i],"MM" + i);
      }
      else
      {
        setValue("0000000000000000","MM" + i);
        setDataType(0,"MM" + i);
      }
    }

    if (top.memorySaved != null)
    {
      setRWAddress(top.memoryRWAddress);
      CURRENT_RW_ADDRESS = top.memoryRWAddress;
    }
    else
    {
      setRWAddress("MM0");
      CURRENT_RW_ADDRESS = "MM0";
    }
  }
}

// ********************************************************
// A pair of functions to handle the blinking...
//
function clearSelectedAddress(MMAddr)
// This function directly manipulates the displayed value so that
// the background value is not destroyed.
{
  if (!MMAddr)
    MMAddr = getRWAddress();

  document.memory[MMAddr].value = "";
}

function setSelectedAddress(MMAddr)
{
  if (!MMAddr)
    MMAddr = getRWAddress();

  setValue(getValue(MMAddr),MMAddr);
}

function getDataTypeIndex(theType)
{
  if (theType == 0)
    return 0;
  else if (theType == -10)
    return 1;
  else if (theType == 10)
    return 2;
  else if (theType == 2)
    return 3;
  else if (theType == -1)
    return 4;
  else
    return 0;
}

// ***********************************************************
// Event handlers for the fields, buttons and memus
//

function changeMemoryType(MMAddr)
// One of the datatypes has been changed so update its display.
{
  setDataType(getDataType(MMAddr),MMAddr);
}

function trimString(theStr)
{
  var i, ignore, atEnd, newStr;

  newStr = "";
  ignore = true;
  atEnd = true;

  for (i=theStr.length-1; i >= 1; i--)
  {
    if (theStr.charAt(i) != ' ')
    {
      ignore = false;
      atEnd = false;
    }
    else
      ignore = (theStr.charAt(i-1) == ' ' || atEnd);

    if (!ignore)
       newStr = theStr.charAt(i) + newStr;
  }

  if (theStr.charAt(0) != ' ')
    newStr = theStr.charAt(0) + newStr;

  return newStr;
}
function fallbackCopyTextToClipboard(text) {
  var textArea = document.createElement("textarea");
  textArea.value = text;
  
  // Avoid scrolling to bottom
  textArea.style.top = "0";
  textArea.style.left = "0";
  textArea.style.position = "fixed";

  document.body.appendChild(textArea);
  textArea.focus();
  textArea.select();

  try {
    var successful = document.execCommand('copy');
    var msg = successful ? 'successful' : 'unsuccessful';
    console.log('Fallback: Copying text command was ' + msg);
  } catch (err) {
    console.error('Fallback: Oops, unable to copy', err);
  }

  document.body.removeChild(textArea);
}

function dumpMemory()
{
    var i;
    var text="";
    for(i=0; i<32; i++)
    {
        text = text +(i+": "+trimString(document.memory['MM'+i].value.toUpperCase()) + "\n");
    }
    fallbackCopyTextToClipboard(text)
    alert(text);
}

function changeMemoryValue(MMAddr)
// One of the fields has been typed in and the value needs
// to be updated in the array.
{
  var theType, addr, theVal;

  theVal = trimString(document.memory[MMAddr].value.toUpperCase());
  document.memory[MMAddr].value = theVal;

  theType = getDataType(MMAddr);
  if (theType == 0)
    theType = top.datapath.getNumberBase();

  addr = MMAddr.substring(2,MMAddr.length);
  memoryBaseTwoValues[addr] = getNumber(theVal,theType,2,16);

  if (top.datapath.WITH_CONTROL)
  {
     // We are in full machine mode.. if what was enetered in the memory
     // does not start with a digit or a 0 then try to interpret it as
     // an instruction.
     if ((theVal.charAt(0) < '0' || theVal.charAt(0) > '9') && theVal.charAt(0) !=
'-') {
       document.memory["DType" + MMAddr].selectedIndex = getDataTypeIndex(-1);
       memoryBaseTwoValues[addr] = getOpcode(theVal);
     }

     if (validInstruction(theVal) && theType != -1)
     {
       document.memory["DType" + MMAddr].selectedIndex = getDataTypeIndex(-1);
       memoryBaseTwoValues[addr] = getOpcode(theVal);
     }
     else if (!validInstruction(theVal) && theType == -1)
     {
       document.memory[MMAddr].value = "ERR: " + theVal;
       memoryBaseTwoValues[addr] = "1111111111111111";
     }
  }
}

function memoryBlur(MMAddr)
{
  if (document.memory[MMAddr].value.substring(0,4) != "ERR:")
    changeMemoryValue(MMAddr);
}

function memoryFocus(MMAddr)
{
  var theVal;
  theVal = document.memory[MMAddr].value;

  if (theVal.substring(0,4) == "ERR:")
    document.memory[MMAddr].value = theVal.substring(5,theVal.length);
}

function changeRWAddress(MMAddr)
// This function is only necessary to prevent the R/W
// address from changing while the simulation is
// running.

{
  if (!top.datapath.CHANGE_ENABLED)
    setRWAddress(CURRENT_RW_ADDRESS);
  else
    CURRENT_RW_ADDRESS = MMAddr;
}

// ********************************************************
// Basic functions that provide access the fields that
// display the data on the screen.
//

function getDataType(MMAddr)
// Return the datatype of the specified memory address.
// If no address is specified get the value of the address
// currently selected for R/W.
{
  var theDType, theIndex;

  if (MMAddr == null)
    MMAddr = getRWAddress();

  theIndex = document.memory["DType" + MMAddr].selectedIndex;
  theDType = document.memory.DTypeMM0[theIndex].value;

  return theDType;
}

function setDataType(theType,MMAddr)
// Set the datatype of the specified memory address to the
// indicated type.  If no memory address is specified use the
// currently selected R/W address.  Update the value displayed
// in the cell to reflect the new datatype.
{
  var addr;

  if (MMAddr == null)
    MMAddr = getRWAddress();

  document.memory["DType" + MMAddr].selectedIndex = getDataTypeIndex(theType);

  addr = MMAddr.substring(2,MMAddr.length);

  if (theType != 0)
    document.memory[MMAddr].value = getNumber(memoryBaseTwoValues[addr],
                                              2, theType,16);
  else
    document.memory[MMAddr].value = getNumber(memoryBaseTwoValues[addr],
                                              2, top.datapath.getNumberBase(),16);
}

function getValue(MMAddr)
// Return the base 2 value in the specified memory address.
// If no address is specified get the value of the address
// currently selected for R/W
{
  var addr;

  if (MMAddr == null)
    MMAddr = getRWAddress();

  addr = MMAddr.substring(2,MMAddr.length);

  return memoryBaseTwoValues[addr];
}

function setValue(baseTwoVal, MMAddr)
// Set the value of the specified memory address.  The proper equivalent
// of the baseTwoVal displayed.  If no memory address is specified use
// the currently selected memory address.
{
  var theType, addr;

  if (MMAddr == null)
    MMAddr = getRWAddress();

  addr = MMAddr.substring(2,MMAddr.length);
  memoryBaseTwoValues[addr] = baseTwoVal;

  theType = getDataType(MMAddr);

  if (theType == 0)
    theType = top.datapath.getNumberBase();

  document.memory[MMAddr].value = getNumber(baseTwoVal,2,theType,16);
}

function getRWAddress()
// Return the currently selected R/W address of the memory.
{
  return CURRENT_RW_ADDRESS;
}

function setRWAddress(MMAddr)
// Set the indicated memory address to be the current R/W address.
{
  var addr;

  addr = MMAddr.substring(2,MMAddr.length);
  document.memory.MMSelect[addr].checked = true;
  CURRENT_RW_ADDRESS = MMAddr;
}

function getNumberBase()
{
  if (top.DATAPATH_LOADED)
    return top.datapath.getNumberBase();
  else
    return -10;
}
</script>

</head>
<body onunload='saveValues()' onload='getValues()'>
<form name=memory>

<center>
    <b>Main Memory <button onclick="dumpMemory()">Dump</button></b>
<hr>

<table width=100% border=0 cellspacing=0 cellpadding=0>

<tr><td align=left>View As:</td>
    <td align=left></td>
    <td align=left>Value:</td>
    <td align=left>RW</td>
</tr>
<script>
for (i=0; i<=31; i++)
{
  document.write('<tr><td><select name=DTypeMM' + i +
                 ' onchange="changeMemoryType(\'MM' + i + '\');">' +
                 '<option value=0>Auto' +
                 '<option value=-10>+-10' +
                 '<option value=10>10' +
                 '<option value=2>2');

  if (top.control != null)
    document.write('<option value=-1>Inst');

  document.write('</select></td>');

  document.write('<td align=right>' +
                 getNumber(i,10,Math.abs(getNumberBase()),5) + ':</td>');
  document.write('<td><input type=text name=MM'+ i +
                 ' size=16 maxlength=16 tabindex=' + (i+1) +
                 ' onfocus="if(!top.datapath.CHANGE_ENABLED) blur(); ' +
				 ' else memoryFocus(\'MM' + i + '\');"' +
                 ' onchange="changeMemoryValue(\'MM' + i + '\');"' +
                 ' onblur="memoryBlur(\'MM' + i + '\');"></td>' +
                 '<td><input type=radio name=MMSelect value=MM' + i +
                 ' onClick="changeRWAddress(\'MM' + i + '\');"></td></tr>');
}
</script>

</td></tr>
</table>
</center>
</form>
</body>
</html>
